.env
venv
camera_photos
security/logs/
infrastructure/logs/
security/blacklist.txt
api_tokens.json
security/api_tokens.json
instance/.env
config.yml
.vscode

algorithms/__pycache__

controllers/__pycache__
models/__pycache__
plateSolver/__pycache__
security/__pycache__
utility/__pycache__

templates/routes.txt

__pycache__/

instance/uploads/contact/