# Redirect HTTP to HTTPS
http://telescopes.dev {
	redir https://telescopes.dev{uri} permanent
}

# HTTPS only
telescopes.dev {
	reverse_proxy 127.0.0.1:8080
	# Add security headers
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		X-XSS-Protection "1; mode=block"
	}
}

telescopes.dev:4000 {
	reverse_proxy 127.0.0.1:4000
}

telescopes.dev:8000 {
	reverse_proxy 127.0.0.1:8000
}
