{% extends "base.html" %}

{% block title %}About - SELENO{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1 class="display-4 fw-bold">About SELENO</h1>
    <p class="lead">This app allows you to control your telescope remotely and capture images of the night sky.</p>
    <p class="lead">
        <a href="{{ url_for('about.license_page') }}">Software License</a><br>
        <a href="{{ url_for('about.tos') }}">Terms of Service</a><br>
        <a href="{{ url_for('about.privacy') }}">Privacy Policy</a><br>
        <a href="https://github.com/Alex-Grant-Parra/Telescope-project-Website" target="_blank">GitHub Repository (Server)</a><br>
        <a href="https://github.com/Alex-Grant-Parra/Telescope-Project-Client" target="_blank">GitHub Repository (Client)</a><br>
        <a href="https://esahubble.org/" target="_blank">Video sources - ESA Hubble</a><br>
        <a href="http://gphoto.org/proj/libgphoto2/support.php" target ="_blank">Camera support - GPhoto2</a>
    </p>
</div>
{% endblock %}
