# Redirect HTTP for the domain to HTTPS
http://telescopes.dev {
    redir https://telescopes.dev{uri} permanent
}

# HTTPS site, bound to Wi-Fi IP
telescopes.dev {
    bind 192.168.0.60
    reverse_proxy 127.0.0.1:8080

    # Security headers
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        X-XSS-Protection "1; mode=block"
    }

    # Block access to sensitive files
    @blockedFiles {
        path *.env *.env.* *.yml *.json *.aws/credentials client_secrets.json pinfo.php phpinfo.php
    }
    respond @blockedFiles "403 Forbidden" 403
}
