{
    # Disable automatic HTTPS
    auto_https off
}

# HTTP listener for domain
http://telescopes.dev {
    reverse_proxy 127.0.0.1:8080
}

# Redirect raw IP HTTP to HTTPS on the same IP
http://192.168.0.60 {
    bind 192.168.0.60
    redir https://192.168.0.60{uri} permanent
}

# Serve HTTPS on the LAN IP
https://192.168.0.60 {
    bind 192.168.0.60
    tls internal
    reverse_proxy 127.0.0.1:8080
}
